<div class="container mt-5">
  <h1 class="mb-4">お客様アカウント一覧</h1>

  <nav class="nav justify-content-end">
    <%= link_to "ダッシュボードへ戻る", root_path %>
  </nav>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">会社名</th>
          <th scope="col">お客様氏名</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.customer.name %></td>
            <td><%= user.name %></td>
            <td>
              <%= link_to "詳細", admin_customer_user_path(user), class: "btn btn-info" %>
              <%= link_to "編集", edit_admin_customer_user_path(user), class: "btn btn-warning" %>
              <%= link_to "削除", admin_customer_user_path(user), data: { turbo_method: :delete, turbo_confirm: "「#{user.name}」のお客様アカウントのレコードを削除します。よろしいでしょうか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "新規登録", new_admin_customer_user_path, class: "btn btn-primary" %>
</div>
