<div class="container">
  <h1>お客様アカウント登録</h1>

  <nav class="nav justify-content-end">
    <%= link_to "お客様アカウント一覧へ戻る", admin_customer_users_path %>
  </nav>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, url: admin_customer_users_path, method: :post, local: true) do |form| %>
    <%= form.hidden_field :user_type, value: "customer" %>
    <div class="form-group">
      <%= form.label :customer_id, "会社名" %>
      <%= form.collection_select :customer_id, @customers, :id, :name, {}, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= form.label :name, "お客様氏名" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email, "メールアドレス" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, "パスワード確認" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "登録する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
