<h1 class="my-4">お客様アカウント詳細</h1>

<nav class="nav justify-content-end">
  <%= link_to "お客様アカウント一覧へ戻る", admin_customer_users_path %>
</nav>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">会社名</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">登録日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.customer.name %></td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    </tr>
  </tbody>
</table>

<div class="my-2">
  <%= link_to '編集', edit_admin_customer_user_path(@user), class: 'btn btn-primary' %>
</div>
