<h1>顧客検索</h1>

<nav class="nav justify-content-end">
  <%= link_to "ダッシュボードへ戻る", root_path %>
</nav>

<%= search_form_for @q, url: price_lists_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.search_field :name_cont, class: "form-control", placeholder: "顧客名で検索" %>
    <div class="input-group-append">
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>顧客名</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, price_list_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
