<h1><%= @customer.name %>（<%= @customer.rank.name %>）の価格一覧</h1>

<nav class="nav justify-content-end">
  <%= link_to "顧客検索一覧へ戻る", price_lists_path %>
</nav>

<%= search_form_for @q, url: price_list_path(@customer), method: :get do |f| %>
  <%= f.label :name, "商品名" %>
  <%= f.search_field :name %>
  <%= f.submit "検索" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>販売単価</th>
      <th>仕入先</th>
      <th>現在の仕入原価</th>
      <th>仕入先値上げ予定日</th>
      <th>値上げ後の仕入原価</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <% price = product.prices.find { |p| p.rank_id == @customer.rank_id } %>
      <% if price %>
        <% product.product_suppliers.each_with_index do |product_supplier, index| %>
          <tr>
            <% if index == 0 %>
              <td rowspan="<%= product.product_suppliers.count %>"><%= product.name %></td>
              <td rowspan="<%= product.product_suppliers.count %>"><%= price.price %>円</td>
            <% end %>
            <td><%= product_supplier.supplier.name %></td>
            <td><%= product_supplier.cost %>円</td>
            <td><%= product_supplier.price_revision_date.present? ? product_supplier.price_revision_date.strftime('%Y年%m月%d日') : 'N/A' %></td>
            <td><%= product_supplier.future_cost.present? ? product_supplier.future_cost : 'N/A' %>円</td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
