<h1><%= @customer.name %>（<%= @customer.rank.name %>）の価格一覧</h1>

<nav class="nav justify-content-end">
  <%= link_to "顧客検索一覧へ戻る", price_lists_path %>
</nav>

<%= search_form_for @q, url: price_list_path(@customer), method: :get do |f| %>
  <div class="input-group">
    <%= f.search_field :name_cont, class: "form-control", placeholder: "商品名で検索" %>
    <div class="input-group-append">
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>販売単価</th>
      <th>仕入先</th>
      <th>現在の仕入原価</th>
      <th>仕入先値上げ予定日</th>
      <th>値上げ後の仕入原価</th>
      <th>粗利率</th> <!-- 追加 -->
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <% price = product.prices.find { |p| p.rank_id == @customer.rank_id } %>
      <% if price %>
        <% product.product_suppliers.each_with_index do |product_supplier, index| %>
          <% cost_increase_histories = product_supplier.cost_increase_histories.order(cost_revision_date: :desc) %>
          <% next_scheduled_history = cost_increase_histories.where("cost_revision_date > ?", Date.today).first %>
          <% profit_percentage = product.gross_profit_percentages(price).find { |m| m[:supplier] == product_supplier } %>
          <tr>
            <% if index == 0 %>
              <td rowspan="<%= product.product_suppliers.count %>"><%= product.name_with_status %></td>
              <td rowspan="<%= product.product_suppliers.count %>"><%= price.current_price %>円</td>
            <% end %>
            <td><%= product_supplier.supplier.name %></td>
            <td><%= product_supplier.current_cost %>円</td>
            <td><%= next_scheduled_history.present? ? format_date(next_scheduled_history.cost_revision_date) : 'N/A' %></td>
            <td><%= next_scheduled_history.present? ? next_scheduled_history.current_cost : 'N/A' %>円</td>
            <td><%= profit_percentage[:percentage] == 'N/A' ? profit_percentage[:percentage] : "#{profit_percentage[:percentage].round}%" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
