<div class="container">
  <h1 class="mb-4">カタログ商品別仕入原価管理</h1>

  <nav class="nav justify-content-end mb-3">
    <%= link_to "ダッシュボードへ戻る", root_path %>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th>ページ</th>
        <th>商品名</th>
        <th>紐づいた仕入先の名前</th>
        <th>現在の仕入原価</th>
        <th>値上げ予定日</th>
        <th>値上げ後の仕入原価</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @product_suppliers.group_by { |ps| ps.product }.each do |product, product_suppliers| %>
        <tr>
          <td><%= product.catalog_page_number %></td>
          <td><%= product.name %></td>
          <td>
            <% product_suppliers.each do |ps| %>
            <%= ps.supplier.name %><br>
            <% end %>
          </td>
          <td>
            <% product_suppliers.each do |ps| %>
              <% if cost_increase_history = ps.cost_increase_histories.last %>
                <%= cost_increase_history.current_cost %><br>
              <% else %>
                -<br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% product_suppliers.each do |ps| %>
              <% if cost_increase_history = ps.cost_increase_histories.last %>
                <%= cost_increase_history.cost_revision_date %><br>
              <% else %>
                -<br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% product_suppliers.each do |ps| %>
              <% if cost_increase_history = ps.cost_increase_histories.last %>
                <%= cost_increase_history.revised_cost %><br>
              <% else %>
                -<br>
              <% end %>
            <% end %>
          </td>
          <td>
            <% product_suppliers.each do |ps| %>
              <% if cost_increase_history = ps.cost_increase_histories.last %>
                <%= link_to "仕入原価更新", edit_product_supplier_cost_increase_history_path(ps, cost_increase_history) %><br>
              <% else %>
                <%= link_to "新規仕入原価登録", new_product_product_supplier_cost_path(ps.product, ps) %><br>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
