<%= form_with(model: [@product, @product_supplier], local: true) do |form| %>
  <h2>新しい仕入先の紐付けを作成する - <%= @product.name %></h2>

  <div class="form-group">
    <%= form.label :supplier_ids, "仕入先" %>
    <%= form.select :supplier_ids, Supplier.all.collect { |supplier| [supplier.name, supplier.id] }, {}, { multiple: true, id: 'supplier-select', class: 'form-control' } %>
  </div>

  <div class="actions">
    <%= form.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
