<%= form_with model: [product, price], local: true do |form| %>
  <% prices.each do |price| %>
    <div class="form-group">
      <%= form.label price.rank.name %>
      <%= form.hidden_field "price[][rank_id]", value: price.rank.id %>
      <%= form.number_field "price[][price]", value: price.price, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
