<h1><%= "#{@product.name}" %>の売価の更新</h1>

<%= form_with model: @product, url: bulk_update_product_prices_path(@product), local: true do |form| %>
  <% @prices.each do |price| %>
    <div class="form-group">
      <%= form.label price.rank.name %>
      <%= form.hidden_field :id, value: price.id, name: "product[prices][][id]" %>
      <%= form.hidden_field :rank_id, value: price.rank.id, name: "product[prices][][rank_id]" %>
      <%= form.number_field :price, value: price.price, class: "form-control", name: "product[prices][][price]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
