<div class="container">
  <h1 class="mb-4">ランク別カタログ商品売価一覧</h1>

  <nav class="nav justify-content-end">
    <%= link_to "ダッシュボードへ戻る", root_path %>
  </nav>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ページ</th>
        <th scope="col">商品名</th>
        <% @ranks.each do |rank| %>
          <th scope="col"><%= rank.name %></th>
        <% end %>
        <th scope="col">値上げ予定日</th>
        <% @ranks.each do |rank| %>
          <th scope="col">値上げ後<%= rank.name %></th>
        <% end %>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.catalog_page_number %></td>
          <td><%= product.name %></td>
          <% @ranks.each do |rank| %>
            <% price_record = product.prices.where(rank: rank).where.not(price: nil).last %>
            <% if price_record %>
              <td><%= price_record.current_price %></td>
            <% else %>
              <td>未設定</td>
            <% end %>
          <% end %>
          <% price_record = product.prices.where.not(price: nil).last %>
          <% if price_record %>
            <td><%= price_record.price_increase_date ? l(price_record.price_increase_date, format: :long) : '設定なし' %></td>
            <% @ranks.each do |rank| %>
              <% price_record = product.prices.where(rank: rank).where.not(price: nil).last %>
              <% if price_record %>
                <td><%= price_record.future_price || '設定なし' %></td>
              <% else %>
                <td>未設定</td>
              <% end %>
            <% end %>
          <% else %>
            <td colspan="<%= @ranks.size + 1 %>">未設定</td>
          <% end %>
          <td>
            <% if @ranks.all? { |rank| product.prices.where(rank: rank).where.not(price: nil).present? } %>
              <%= link_to "売価更新", bulk_edit_product_prices_path(product), class: "btn btn-info btn-sm" %>
            <% else %>
              <%= link_to "新規売価追加", new_product_price_path(product), class: "btn btn-primary btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
