<div class="container">
  <h1 class="mb-4">ランク別カタログ商品売価一覧</h1>

  <nav class="nav justify-content-end mb-3">
    <%= link_to "ダッシュボードへ戻る", root_path %>
  </nav>

  <%= search_form_for @q, url: prices_path, method: :get, class: "form-inline mb-5" do |f| %>
  <div class="input-group w-100">
    <%= f.search_field :name_cont, class: "form-control w-75", placeholder: "商品名で検索" %>
    <div class="input-group-append">
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>  
    </div>
  </div>
<% end %>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ページ</th>
        <th scope="col">商品名</th>
        <% @ranks.each do |rank| %>
          <th scope="col"><%= rank.name %></th>
        <% end %>
        <th scope="col">値上げ予定日</th>
        <% @ranks.each do |rank| %>
          <th scope="col">値上げ後<%= rank.name %></th>
        <% end %>
        <th scope="col">売価改定履歴</th> <!-- 売価改定履歴の列を追加 -->
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.catalog_page_number %></td>
          <td><%= product.name %></td>
          <% @ranks.each do |rank| %>
            <% price_record = product.prices.where(rank: rank).where.not(price: nil).last %>
            <% if price_record %>
              <td><%= price_record.current_price %></td>
            <% else %>
              <td>未設定</td>
            <% end %>
          <% end %>
          <% price_record = product.prices.where.not(price: nil).last %>
          <% if price_record %>
            <td><%= price_record.price_increase_date ? l(price_record.price_increase_date, format: :long) : '設定なし' %></td>
            <% @ranks.each do |rank| %>
              <% price_record = product.prices.where(rank: rank).where.not(price: nil).last %>
              <% if price_record %>
                <td><%= price_record.future_price || '設定なし' %></td>
              <% else %>
                <td>未設定</td>
              <% end %>
            <% end %>
            <td> <!-- 売価改定履歴のセルを追加 -->
              <% if price_record && price_record.price_change_histories.exists? %> 
                <%= link_to '売価改定記録', price_change_histories_path(price_id: price_record.id) %>
              <% else %>
                改定記録なし
              <% end %>
            </td>
          <% else %>
            <td colspan="<%= @ranks.size + 2 %>">未設定</td> <!-- colspanの数を増やす -->
          <% end %>
          <td>
            <% if @ranks.all? { |rank| product.prices.where(rank: rank).where.not(price: nil).present? } %>
              <%= link_to "売価更新", bulk_edit_product_prices_path(product), class: "btn btn-info btn-sm" %>
            <% else %>
              <%= link_to "新規売価追加", new_product_price_path(product), class: "btn btn-primary btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
