<h1>売価登録</h1>

<h3>商品名</h3>
<%= @product.name %>
<nav class="nav justify-content-end">
  <%= link_to "商品一覧へ戻る", products_path, class: "nav-link" %>
</nav>

<%= form_with url: product_prices_path(@product) do |f| %>
  <% @product.prices.each do |price| %>
    <div class="form-group">
      <%= f.label price.rank.name %>
      <%= f.hidden_field 'price[][rank_id]', value: price.rank.id %>
      <%= f.number_field 'price[][price]', value: price.current_price, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>

