<h1>売価登録</h1>

<h3>商品名</h3>
<%= @product.name %>
<nav class="nav justify-content-end">
  <%= link_to "商品一覧へ戻る", products_path, class: "nav-link" %>
</nav>

<table>
  <% @ranks.each do |rank| %>
    <th><%= rank.name%></th>
  <% end %>
</table>


<%= form_with model: [@product, @price] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.number_field :name, class: 'form-control' %>
  </div>
<% end %>
