<h1>売価登録</h1>

<h3>商品名</h3>
<%= @product.name %>
<nav class="nav justify-content-end">
  <%= link_to "商品一覧へ戻る", products_path, class: "nav-link" %>
</nav>

<%= form_with url: product_prices_path(@product) do |f| %>
  <% @product.prices.each do |price| %>
    <div class="form-group">
      <%= f.label price.rank.name %>
      <%= f.hidden_field 'price[][rank_id]', value: price.rank.id %>
      <%= f.number_field 'price[][price]', value: price.price, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>

<div class="main">
  <p class="message">はろーはろー</p>
  <ul id="foo">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <span></span>
  <div>
    <div>あかいもじ</div>
  </div>
  <article>
    <div>あかいもじ</div>
  </article>
</div>

<style>
    main .message {
        color: red;
    }
    main span {
        color: #730E15;
    }
    main div div  {
        color: #730E15;
    }
</style>
