<h1>ダッシュボード</h1>

<ul>
  <li><%= link_to "顧客別価格表(全社員閲覧可)", price_lists_path %></li>
  <li><%= link_to "商品＆売価管理（営業部・購買部）", products_path %></li>
  <li><%= link_to "仕入先管理(営業部・購買部)", suppliers_path %></li>
  <li><%= link_to "顧客管理（営業部・購買部・業務部）", customers_path %></li>
  <li><%= link_to "社員アカウント管理(管理者)", admin_users_path %></li>
</ul>
