<h1>ダッシュボード</h1>

<ul>
  <li><%= link_to "顧客別価格表(全社員閲覧可)", price_lists_path %></li>
  <li><%= link_to "カタログ商品登録＆売価登録＆仕入れ値登録（営業・購買・業務のみ更新可）", products_path %></li>
  <li><%= link_to "仕入先基本情報管理(全社員更新可能)", suppliers_path %></li>
  <li><%= link_to "顧客情報管理（営業・購買・業務のみ更新可）", customers_path %></li>
  <li><%= link_to "社員アカウント管理(システム管理者のみ更新可)", admin_users_path %></li>
  <li><%= link_to "お客様アカウント管理(システム管理者のみ更新可)", admin_customer_users_path %></li>
</ul>
