<h1>カタログ掲載商品一覧</h1>

<nav class="nav justify-content-end">
  <%= link_to "ダッシュボードへ戻る", root_path %>
</nav>

<%= link_to "カタログ商品登録", new_product_path, class: "btn btn-primary" %>

<div class="mb-3"></div>

<%= search_form_for @q do |f| %>
  <div class="input-group">
    <%= f.search_field :name_or_code_cont, class: "form-control", placeholder: "商品名またはコードで検索" %>
    <div class="input-group-append">
      <%= f.submit "検索", class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= Product.human_attribute_name(:catalog_page_number) %></th>
        <th><%= Product.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.catalog_page_number %></td>
          <td><%= link_to product.name, product %></td>
          <td>
            <%= link_to "登録商品編集", edit_product_path(product), class: "btn btn-success" %>
            <% if product.product_suppliers.first.present? %>
              <%= link_to "仕入先編集", edit_product_product_supplier_path(product, product.product_suppliers.first), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "仕入先紐付け", new_product_product_supplier_path(product), class: "btn btn-secondary" %>
            <% end %>
            <%= link_to "削除", product_path(product), data: { turbo_method: :delete ,turbo_confirm: "「#{product.name}」をカタログから削除します。本当に削除しますか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
