<h1>カタログ掲載商品一覧</h1>

<%= link_to "新規商品登録", new_product_path, class: "btn btn-primary" %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= Product.human_attribute_name(:catalog_page_number) %></th>
        <th><%= Product.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.catalog_page_number %></td>
          <td><%= link_to product.name, product %></td>
          <td><%= link_to "商品編集", edit_product_path(product), class: "btn btn-primary mr-3" %></td>
            <td><%= link_to "売価登録", new_product_price_path(@product), class: "btn btn-success mr-3" %></td>
            <td><%= link_to "売価編集", "#", class: "btn btn-secondary mr-3" %></td>
          <td><%= link_to "削除", product_path(product), method: :delete, data: { confirm: "「#{product.name}」をカタログから削除します。本当に削除しますか？", "turbo-method": :delete }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
