<h1><%= Product.model_name.human %> Detail</h1>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= Product.human_attribute_name(:catalog_page_number) %></th>
      <td><%= @product.catalog_page_number %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:code) %></th>
      <td><%= @product.code %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:spec) %></th>
      <td><%= @product.spec %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:carton) %></th>
      <td><%= @product.carton %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:unit) %></th>
      <td><%= @product.unit %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:prepayment) %></th>
      <td><%= @product.prepayment %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:is_separate) %></th>
      <td><%= @product.is_separate ? '○' : '×' %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:is_original) %></th>
      <td><%= @product.is_original ? 'オリジナル' : '仕入れ商品' %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:location) %></th>
      <td><%= @product.location %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:due_date) %></th>
      <td><%= @product.due_date %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:same_day_shipping) %></th>
      <td><%= @product.same_day_shipping ? '○' : '×' %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:shipping_rate) %></th>
      <td><%= @product.shipping_rate %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:hokkaido_shipping_rate) %></th>
      <td><%= @product.hokkaido_shipping_rate %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:notes) %></th>
      <td><%= @product.notes %></td>
    </tr>
  </table>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>
<%= link_to 'Back', products_path, class: 'btn btn-secondary' %>
