<h1>カタログ登録商品詳細</h1>

<nav class="nav justify-content-end">
  <%= link_to "商品一覧へ戻る", products_path, class: "nav-link" %>
</nav>
<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Product.human_attribute_name(:catalog_page_number) %></th>
      <td><%= @product.catalog_page_number %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:code) %></th>
      <td><%= @product.code %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:spec) %></th>
      <td><%= @product.spec %></td>
    </tr>
    <tr>
      <th><%= Product.human_attribute_name(:is_original) %></th>
      <td><%= @product.is_original ? "オリジナル" : "仕入れ商品" %></td>
    </tr>
    <tr>
      <th><%= "問屋" %></th>
      <% @rank_prices = @product.prices.pluck(:price) %>
      <td><%= @rank_prices[0] %>円</td>
    </tr>
    <tr>
      <th><%= "販売店" %></th>
      <% @rank_prices = @product.prices.pluck(:price) %>
      <td><%= @rank_prices[1] %>円</td>
    </tr>
    <tr>
      <th><%= "その他" %></th>
      <% @rank_prices = @product.prices.pluck(:price) %>
      <td><%= @rank_prices[2] %>円</td>
    </tr>
    <tr>
      <th><%= "末端" %></th>
      <% @rank_prices = @product.prices.pluck(:price) %>
      <td><%= @rank_prices[3] %>円</td>
    </tr>
    <% @product.product_suppliers.each do |prod_supp| %>
      <tr>
        <th><%= prod_supp.supplier.name %></th>
        <td><%= prod_supp.cost %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "商品編集", edit_product_path, class: "btn btn-primary mr-3" %>
