<!DOCTYPE html>
<html>
  <head>
    <title>MfHanbaiPortalSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flash_message' %>
    <div class="app-title>"
      <nav class="navbar-expand-md.navbar-light.bg-light">
        <div class="container">
          <%= yield %>
        </div>
      </nav>
    </div>  
  </body>
</html>
